* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    list-style: none;
    font: inherit;
}

ul,
p,
h1,
h2,
h2,
h4 {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #d1d0c5;
}


html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto Mono', monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 62.5%;
    background-color: #323437;
    color: #d1d0c5;
    max-width: 1000px;
    padding: 0 15px;
    margin: 0 auto;
}

.container {
    max-width: 1000px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

/* HEADER */

.header {
    position: relative;
    margin-top: 20px;
    padding: 0 20px;
    height: 100%;
    background-color: #e2b714;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.nav {
 width: 100%;
}

.nav__list {
    display: flex;
    justify-content: space-between;
}

.nav_item a {
    padding: 9px 9px;
    font-size: 1.5rem;
    line-height: 2;
    color: #646669;
}

.nav_item a:hover{
    color: #27292b;
}

/* BURGER */

.burger{
    display: none;
    width: 40px;
    height: 40px;
    background: url(./img/burger-svgrepo-com.svg) center no-repeat;
    background-size: 30px auto;
    cursor: pointer;
}

.active {
    display: block;
}

/* MAIN */

.main {
    margin-top: 20px;
    margin-bottom: 20px;
}

.main__wrapper {
    display: flex;
}

.left__part {
    width: 35%;
    border: 1px solid #646669;
    border-radius: 10px;
}

.left__photo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
}

.photo {
    width: 300px;
    height: auto;
    border: 1px solid #646669;
    border: 2px solid ;
    border-radius: 50%;
    overflow: hidden;
}

.left__contacts {
    margin-top: 10px;
}

.mini__title {
    position: relative;
    padding-left: 60px;
    width: 90%;
    height: 40px;
    background-color: #2c2e31;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: 1.2rem;
    line-height: 2;
}

.mini__title::before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    height: 40px;
    width: 30px;
    background-color: #e2b714;
}


.contact_list {
    padding: 15px 30px;
}

.contact_item {
    font-size: 1rem;
    line-height: 2;
    color: #d1d0c5;
    margin-bottom: 10px;
}

.right__part {
    width: 65%;
    padding: 90px 0 20px 60px;
}

.right__title {
    font-size: 3rem;
}

.right__text {
    font-size: 2rem;
}

.title__right {
    width: 110%;
    margin-left: -60px;
    margin-bottom: 40px;
}

.about__me {
    margin: 200px 0 50px;
}

.description__text {
    font-size: 1rem;
}

.skills {
    margin-bottom: 50px;
}

.skills__list {
    list-style-type:disc;
}

.skills__item {
    margin-bottom: 20px;
    list-style-type:disc;
}

.code {
    font-size: 1rem;
}

.code__example {
    margin-bottom: 50PX;
}

/* FOOTER */

.footer {
    margin-bottom: 20px;
    background-color: #e2b714;
    border-radius: 5px;
}

.footer__list {
    display: flex;
    justify-content: space-between;
}

.footer__item {
    padding: 10px;
    font-size: 1rem;
    color: #000;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.git__logo {
    width: 30px;
    height: auto;
}

.git__link{
    display: block;
    padding-left: 40px;
    color:#000;
    line-height: 2;
    background: url(./img/github-142-svgrepo-com.svg) no-repeat;
    background-size: 30px 30px;
}

.git__link:hover {
    text-decoration: underline;
}

.rs__link img {
   width: 100px;
   height: auto;
}


@media (max-width: 768px) {
    .nav_item a {
        font-size: 1.2rem;
    }

    .mini__title {
        font-size: 1rem;
        padding-left: 40px;
        line-height: 2.5;
    }
}

@media (max-width: 600px) {

    .overflow {
        overflow: hidden;
    }

    .header {
        justify-content: flex-start;
    }

    .burger {
        display: block;
    }

    .nav  {
        background-color: #646669;
        position: fixed;
        top: -100%;
        left: 0;
        z-index: 3;
        width: 100vh;
        height: 100vh;

        transition: top .3s ease-in-out;
    }

    .nav.drop {
        top: 0;
    }

    .nav__list {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .nav_item a {
        padding-left: 30px;
        font-size: 2rem;
        font-weight: 700;
        color: #e2b714;
    }

    .nav_item a:hover {
        text-decoration: underline;
    }

    .right__title {
        font-size: 2rem;
    }

    .right__text {
        font-size: 1rem;
    }

    .about__me {
        margin: 120px 0 50px;
    }

    .mini__title {
        width: 100%;
    }

    .contact_item {
        font-size: 0.7rem;
    }

    .description__text {
        font-size: 0.7rem;
    }
}